__pycache__/
*.pyc
.venv/
.venv-airflow/
.airflow_home/
venv/
*.egg-info/
.env
etl/dags/logs/
data/raw/**/*.csv
data/raw/**/*.xlsx
data/raw/**/*.json
!data/raw/**/.gitkeep
*.log
.DS_Store
superset_home/
pgdata/
.venv-superset/
.superset_home/
